/* google font */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&family=Finlandica:ital,wght@1,500&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,400;1,100;1,200;1,400&family=Oswald:wght@300;400;500&family=Poppins:ital,wght@0,300;1,500&display=swap');


body{
   width: 100%;
    font-family: 'Cormorant SC', serif;
    margin: 0;
}

/*-------------------
 Section World Cup 1 
 --------------------*/
/* -----------------
    banner section
 ------------------- */
 .container{
    width: 80%;
    height: 380px;
    background-color: #161616;
    align-items: center;
    display: flex;
    margin-left: 140px;
    margin-right: 139px;
    margin-top: 56px;
    border-radius: 30px;
    animation-name: contain;
 }
 .container-title{
    width: 100%;
    color: #FFFFFF;
    padding-left: 100px;
    position: relative;
 }
 span{
    color: fuchsia;
 }
.container-text{
    font-size: 1em;
}
 h1{
    font-size: 3em;
    font-weight: 700;
 }
 .ancor{
    text-decoration: none;
    color: #FFFFFF;
    background-color: darkred;
    padding: 10px 20px;
    border-radius: 5px;
 }
 .ancor i{
    padding: 10px;
    font-size: 15px;

 }
 .container-img{
    width: 100%;
    display: block;
    padding-left: 50%;
    padding-top: 45px;
    animation-name: img;
    animation-duration: 10s;
 }

/* ----------------
     blog section 
-------------------- */

.content{
    margin-top: 124px;
    margin-left: 140px;
    display: flex;
}
.content-player{
    display: flex;
}
.blogs{
   width: 312px;
   height: 312px;
    background-color: #161616;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin: 140px;
}
.blogs a{
    text-decoration: none;
    color: black;
    background-color: #FFFFFF;
    padding: 20px 20px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
}
.selebretion{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 24px;
    margin-right: 140px;
}
#blog-a {
    background-color: darkred;
    font-weight: 600;
    color: #FFFFFF;
}
.courses{
    width: 312px;
    height: 312px;
    display: flex;
    border: 1px solid #F0F0F0;
    box-shadow: 5px;
    padding: 20px ;
    border-radius: 10px;
}
.course-transfar{
    font-weight: 500;
    font-size: 16px;
    border: 1px solid red;
    margin-right: 75%;
}
.course-time{
    width: 143px;
    height: 26px;
    display: flex;
    gap: 50px;
}
.courses-title{
    font-size: 18px;
    font-weight: 600;
}

/*-----------------
   footer section 
 -----------------*/
 .footer{
    width: 100%;
    height: 440px;
    background-color: #161616;
 }
 .footer-goal{
    color: #F0F0F0;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 130px;
 }
 .tag-icon{
    padding-top: 50px;
 }
 hr{
    border: 2px solid;
    color: #1B1B1B;
    margin-left: 140px;
    margin-right: 140px;
 }
 .footer a{
    color: #F0F0F0;
    text-decoration: none;
    padding-left: 251px;
    text-align: center;
    padding-top: 50px;
 }
  /*---------------
   font awsome icon 
   -----------------*/

.social-icon{
    color: darkred;
    text-align: center;
    padding-top: 100px;
    font-size: 20px;
    font-size: 30px;
}
.fa-facebook-f{
    padding-left: 60px;
}

/*-------------------
 Section World Cup 2
 --------------------*/
 /*----------------
     Img Section 
  -----------------*/
 .play{
    text-align: center;
    color: #161616;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15%;
    font-size: 20px;
    font-weight: 700;
 }
 .match-start{
    width: 100%;
    display: flex;
    height: 80px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
 }
 .Cup{
    color:deeppink;
 }
 
 /*-------------------
    Animition Section 
  -------------------*/

@keyframes img {
    0%   {width: 10px;}
}

/*-----------------
    Media Query 
 ----------------*/

/* Mobile Device */

  @media only screen and (max-width: 576px) {

   /* banner section */
   .madia{
      width: 228px;
      height: 66px;
      text-align: center;
      padding-right: 38px;
      font-size: 10px;
      position: absolute;
   }
   .container{
      width: 200px;
      height: 600px;
      align-items: center;
      margin: 0 auto;
      margin-left: 30px;
      margin-right: 10px;
      margin-top: 28px;
      display: grid;
      padding-right: 50%;
      grid-template-columns: repeat(1, 1fr);
   }
   .container-title{
      width: 258px;
      height: 178px;
      padding-left: 110px;
   }
   .container-img{
      width: 233px;
      padding-left: 80px;
      padding-top: 82px;
   }
   /*-------------
    blog info 
    --------------*/
   .blogs{
      width: 400px;
      height: 176px;
      background-color: #fff;
      padding-bottom: 20%;
      padding-top: 10px;
      margin-left: 50px;
   }
   .blogs a{
      color: #161616;
      border: 1px solid;
   }
   /* blog details */
   .content{
      display: flex;
      flex-direction: column;
      margin: auto 20px;
   }
   .content-player{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 375px;
   }
   .courses{
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      margin-left: 65px;
   }
   .courses img{
      width: 100%;
      display: inline;
   }
   .selebretion{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }
   /* ------------------
       footer section 
   ---------------------*/

   .footer{
      width: 100%;
      height: 100%;
      margin: auto;
   }
   .footer-goal{
      font-size: 1em;
      padding-top: 40px;
   }
   .tag-icon {
      text-align: center;
      padding-top: 20px;
      margin-right: 200px;
   }
   .tag-icon a{
      text-align: center;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 0;
   }
   .social-icon{
      color: darkred;
      text-align: center;
      padding-top: 100px;
      font-size: 20px;
      font-size: 30px;

   }
}

/* large divaice */

@media screen and (min-width: 577px) and (max-width: 900px) {
   .madia{
      width: 316px;
      height: 276px;
      text-align: left;
      padding-left: 1px;
      padding-right: 38px;
      padding-bottom: 10px;
      font-size: 10px;
      position: absolute;
      animation: normal;
   }
   .container{
      width: 334px;
      height: 398px;
      margin: 0 auto;
      align-items: center;
      margin-left: 30px;
      margin-right: 10px;
      margin-top: 28px;
      display: grid;
      padding-right: 50%;
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 20%;
   }
   .container-img{
      width: 323px;
      height: 340px;
      padding-left: 400px;
      padding-bottom: 0px;
      padding-top: 58px;
   }

   /*-------------
    blog info 
    --------------*/
    .blogs{
      margin-top: 50%;
      background-color: #fff;
      display: inline;
      padding-top: 10px;
      margin-left: 15%;
   }
   .match{
      border: 1px solid;
      padding-left: 50px;
   }
   .grupe{
      border: 1px solid;
      padding-left: 40px;
   }
   .blog-b{
      padding: 10px 10px;
   }
   /* blog details */

   .content{
      display: flex;
      flex-direction: column;
      margin: auto 20px;
   }
   .content-player{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
   .courses{
      display: grid;
      grid-template-rows: repeat(2, 1fr);
   }
   .selebretion{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
   /* Footter */

   .footer{
      height: 100%;
      width: 100%;
      margin: 0;
   }
   .footer-goal{
      color: #F0F0F0;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
   }
   .tag-icon {
      text-align: center;
      padding-top: 20px;
      margin-right: 200px;
      justify-content: space-around;
   }
   .tag-icon a{
      text-align: center;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 0;
   }
   
}